<html>
    <body>
    <h1>hello world and {{head_val}}</h1>
    <form action="/image-comp/upload" enctype="multipart/form-data" method="POST">
  <input type="file" name="pic" id="pic"  accept="image/*">
  <input type="submit" value="Compress Now !!">
</form>
    </body>
</html>